.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

main {
  width: 100%;
  box-sizing: border-box;
  height: 75%;
  margin: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.main-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  min-height: 550px;
}

h1 {
  font-size: 128px;
  font-weight: 500;
  max-width: 450px;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 20px;
}

.desc {
  margin: 0;
}

.desc p {
  margin: 10px 0;
  font-size: 18px;
}

#technologies, #contact {
  margin-top: 10px;
}

.technologies-icons {
  min-height: 50px;
  margin-top: 5px;
  display: flex;
  gap: 10px;
}

.contact-icons {
  min-height: 50px;
  min-width: 50px;
  margin-top: 5px;
  display: flex;
  gap: 10px;
}

#contact a {
  text-decoration: none;
  color: inherit;
}

.tech-icon, .contact-icon {
  font-size: 32px;
  cursor: pointer;
}

.tech-icon:hover {
  transition: 0.3s;
  color: #33FFA9;
  transform: scale(1.15);
}

#hover-text {
  margin: 0;
  height: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #6E7E85;
}

.contact-icon:hover {
  transition: 0.4s;
  color: #33FFA9;
  fill: #33FFA9;
  transform: scale(1.15);
}

.main-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-height: 550px;
  position: relative;
}

#projects-title {
  display: none;
}

#project-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex: 1;
  width: 90%
}

#project-1 {
  grid-area: 1 / 1 / 3 / 3;
  background-color: #121212;
  position: relative;
}

#project-1:hover {
  background-color: #121212;
}

#project-2 {
  grid-area: 1 / 3 / 4 / 5;
  background-color: #33FFA9;
  position: relative;
}

#project-3 {
  grid-area: 3 / 1 / 6 / 3;
  background-color: #d1d4db;
  position: relative;
}

#project-4 {
  grid-area: 4 / 3 / 6 / 5;
  background-color: #6E7E85;
  position: relative;
}

.project {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 20px;
  cursor: pointer;
}

.project:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* Small devices such as large phones (640px and up) */
/*@media only screen and (max-width: 40em) {
  main {
    margin: 25px;
  }

  .main-left {
    min-height: 450px;
  }

  h1 {
    color: purple;
    font-size: 82px;
  }

  h3 {
    font-size: 14px;
  }

  .desc p {
    font-size: 16px;
  }

  .tech-icon, .contact-icon {
    font-size: 28px;
  }

  #project-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}*/

/* Medium devices such as tablets (768px and up) */
@media only screen and (max-width: 52em) {

  .App {
    align-items: start;
    margin-bottom: 30px;
    height:fit-content;
  }

  main {
    margin: 0px;
    flex-direction: column;
    align-items: center;
  }

  .main-left {
    min-height: 700px;
    align-items: center;
    width: 90%;
    text-align: center;
    margin: 0;
    justify-content: center;
    gap: 30px;
    max-width: 100vw;
  }

  .main-right {
    width: 100%;
    max-width: 100vw;
    min-height: 650px;
  }

  #projects-title {
    display: block;
  }

  h1 {
    font-size: 72px;
  }

  h3 {
    font-size: 14px;
  }

  .desc p {
    font-size: 16px;
  }

  .tech-icon, .contact-icon {
    font-size: 28px;
  }

  #project-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .project:hover {
    transform: scale(1.025);
    transition: 0.5s;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (max-width: 64em) and (min-width: 52em) {

  main {
    margin: 30px;
  }

  .main-left {
    min-height: 475px;
  }

  h1 {
    font-size: 96px;
  }

  h3 {
    font-size: 16px;
  }

  .desc p {
    font-size: 16px;
  }

  #project-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .project:hover {
    transform: scale(1.025);
    transition: 0.5s;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) and (max-width: 90em) {

  main {
    margin: 70px;
  }

  h1 {
    font-size: 114px;
  }

  h3 {
    font-size: 18px;
  }

  #project-grid {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }

  .project:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }
}